body{
    font-family: 'Slabo 27px', serif;;
    background-color: black; 
    text-align: center;
}

h4{
    font-size: 58px;
    font-weight: 600;
    margin-bottom:49px;
    color:#62fb3c;
}

/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
.select{
    display: inline-block;
    position: relative;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
    margin:20px;
}
select{
    flex:1;
    width:100%;
    cursor: pointer;
    color:whitesmoke;
    padding:12px;
}
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }

/* Transition */
.select:hover::after {
    color:#62fb3c;
  }

#displayTime > h4{
    font-size: 80px;
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    color:#62fb3c;
}

/* MEDIA FRAMES STYLES START HERE */
@media (max-width:900px){
    select {
        display: inline;
    }